workflows/workflow A.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        304
      ],
      "id": "1d689495-88d0-4c01-ae74-fd2c4ab788b3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/dataset/transcript/*.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -160,
        -336
      ],
      "id": "879fbf99-e281-42d7-b8ff-25d81cdd3b41",
      "name": "Read/Write Files from Disk",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer API_KEY_GOES_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/js"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "JSON",
        "body": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an AI configuration assistant. Extract business hours, routing rules, and emergency definitions from the provided call transcript. Output your response strictly as a JSON object.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.clean_transcript }}\"\n    }\n  ],\n  \"response_format\": {\n    \"type\": \"json_object\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        0
      ],
      "id": "f7a30ef1-5b99-4161-92f3-99e4a7840631",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get raw content from Groq\nconst rawContent = $input.first().json.choices[0].message.content;\n\n// 2. Get the original filename from the Loop node and clean it\n// This turns \"demo_bens_electric.txt\" into \"demo_bens_electric\"\nconst originalFileName = $node[\"Loop Over Items\"].json.fileName;\nconst folderName = originalFileName.replace('.txt', '').replace('.m4a', '');\n\ntry {\n  // 3. Clean and Parse Groq Output\n  const cleanedJson = rawContent.replace(/```json/g, '').replace(/```/g, '').trim();\n  const groqOutput = JSON.parse(cleanedJson);\n  \n  // 4. Construct Memo Structure\n  const accountMemo = {\n    source_file: originalFileName,\n    company_name: groqOutput.company_name,\n    business_hours: groqOutput.business_hours,\n    routing_rules: groqOutput.routing_rules,\n    emergency_definitions: groqOutput.emergency_definitions,\n    questions_or_unknowns: groqOutput.questions_or_unknowns || []\n  };\n\n  // 5. Construct Agent Spec (with Prompt Hygiene)\n  const agentSpec = {\n    agent_name: \"Clara - \" + (groqOutput.company_name || folderName),\n    system_prompt: `You are an assistant for ${groqOutput.company_name || folderName}. \n    BUSINESS HOURS: Greeting -> Ask purpose -> Collect name/number -> Transfer -> Fallback if fail -> Ask if anything else -> Close.\n    AFTER HOURS: Greeting -> Ask purpose -> Confirm emergency -> If emergency: collect name, number, address immediately -> Transfer -> Fallback -> Ask if anything else -> Close.\n    Do not mention 'function calls' to the caller.`\n  };\n\n  // 6. Return JSON (with folder_name) + Binary objects\n  return {\n    json: { success: true, folder_name: folderName },\n    binary: {\n      memo: {\n        data: Buffer.from(JSON.stringify(accountMemo, null, 2)).toString('base64'),\n        mimeType: 'application/json',\n        fileName: 'memo.json'\n      },\n      spec: {\n        data: Buffer.from(JSON.stringify(agentSpec, null, 2)).toString('base64'),\n        mimeType: 'application/json',\n        fileName: 'agent_spec.json'\n      }\n    }\n  };\n\n} catch (error) {\n  // Fallback if LLM fails: still create files so the Write nodes don't error out\n  return {\n    json: { success: false, folder_name: folderName, error: error.message },\n    binary: {\n      memo: {\n        data: Buffer.from(JSON.stringify({error: error.message, raw: rawContent})).toString('base64'),\n        mimeType: 'application/json',\n        fileName: 'memo.json'\n      },\n      spec: {\n        data: Buffer.from(JSON.stringify({error: \"Failed to parse\"}), null, 2).toString('base64'),\n        mimeType: 'application/json',\n        fileName: 'agent_spec.json'\n      }\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -352
      ],
      "id": "60919c89-8273-4002-8f07-63e14a82fc52",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "workspace": "1213536480748114",
        "name": "v1",
        "otherProperties": {
          "projects": [
            "1213536497302368"
          ]
        }
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        1664,
        0
      ],
      "id": "94e2a221-1555-4c62-9bc0-328ef1aba5b1",
      "name": "Create a task",
      "credentials": {
        "asanaApi": {
          "id": "IDDpOO35ZG11wxBu",
          "name": "Asana account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "transcript",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        336,
        0
      ],
      "id": "c8f6a2a0-dba1-4157-8918-3944ba8eb31c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "let rawText = $input.first().json.transcript;\n\nlet cleanText = rawText.replace(/[\\r\\n]+/g, \" \");\n\nif (cleanText.length > 7000) {\n    cleanText = cleanText.substring(0, 7000) + \"... (truncated)\";\n}\n\nreturn {\n  clean_transcript: cleanText\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -336
      ],
      "id": "b8e6d495-3c81-45e4-961b-cf50c31ea52e",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        144,
        -384
      ],
      "id": "01bfb6f5-52d8-45f3-89d8-a4b59f01cfde",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/.n8n-files/outputs/accounts/{{$json.folder_name}}/v1/agent_spec.json",
        "dataPropertyName": "spec",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1440,
        -352
      ],
      "id": "9ce4facb-7306-4515-a420-e0eb94c76900",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/.n8n-files/outputs/accounts/{{$json.folder_name}}/v1/memo.json",
        "dataPropertyName": "memo",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1248,
        16
      ],
      "id": "3fa59ebb-824f-4f66-80e5-ee711a0b4470",
      "name": "Read/Write Files from Disk1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a task": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Create a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9aced48f-19f9-4f5f-b553-807fdeb668dc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3748f9f9017b05565a807a35fb37df8e45582bb204d5fc60adb1577efe40c023"
  },
  "id": "t1PttYABkadO0V3R",
  "tags": []
}